<html>
    <head>
        <link href= "{{ url_for('static',filename='styles/home.css') }}" rel='stylesheet'>
    </head>
<form method="post" action="/login">
<div class="box">
<h1>DB Access Portal</h1>

<input id = "_name" type="_name" name="_name" value="" class="_name" />
    
<a href="#"><div id="searchBtn" class="searchBtn" onclick=fetchName()>Search</div></a> <!-- End Btn -->

<input id = "result" type="result" name="result" value="" class="result" />

</div> <!-- End Box -->

</form>
  
<script src="home.js" type="text/javascript"></script>

</htmL>